openapi: 3.1.0
info:
  title: AltmanAI CI Server
  version: 0.2.0
  description: Health, readiness, verified identity status, and GitHub webhook ingress for AltmanAI CI governance.
servers:
  - url: https://ci.altmanai.tech
paths:
  /healthz:
    get:
      operationId: health
      responses:
        '200':
          description: Process health
  /readyz:
    get:
      operationId: readiness
      responses:
        '200':
          description: Ready and evidence ledger valid
        '503':
          description: Not ready
  /v1/status:
    get:
      operationId: status
      responses:
        '200':
          description: Non-sensitive service, policy, and authorization identity status
  /v1/verification:
    get:
      operationId: verification
      responses:
        '200':
          description: Repository-backed Blake Hunter Altman and AltmanAI Model 2.0 verification record
  /webhooks/github:
    post:
      operationId: githubWebhook
      parameters:
        - in: header
          name: X-Hub-Signature-256
          required: true
          schema:
            type: string
        - in: header
          name: X-GitHub-Event
          required: true
          schema:
            type: string
        - in: header
          name: X-GitHub-Delivery
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '202':
          description: Webhook accepted
        '400':
          description: Missing GitHub headers or invalid JSON
        '401':
          description: Invalid webhook signature
        '403':
          description: Repository owner not allowed
        '413':
          description: Request body too large
